/PrimeiroPrograma/target/
/HoraDoSistema/target/
/OlaMundoSwing/target/
/primeiroprograma/target/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoJanelaaJavaFX/nbproject/private/
/OlaMundoJanelaaJavaFX/dist/
/OlaMundoJanelaaJavaFX/build/
/OlaMundoSwing/dist/
/OlaMundoJanelaSwing/nbproject/private/
/OlaMundoJanelaSwing/build/
/OlaMundoJanelaSwing/dist/
/PrimeiroPrograma/nbproject/private/
/PrimeiroPrograma/build/
/IdiomaSistema/nbproject/private/
/IdiomaSistema/build/
/DataHoraSistema/nbproject/private/
/DataHoraSistema/build/
/ResolucaoTela/nbproject/private/
/ResolucaoTela/build/
/DataHoraSistemaSwing/nbproject/private/
/DataHoraSistemaSwing/build/
/DataHoraSistemaSwing/dist/
/IdiomaSistemaSwing/nbproject/private/
/IdiomaSistemaSwing/build/
/IdiomaSistemaSwing/dist/
/ResolucaoTelaSwing/nbproject/private/
/ResolucaoTelaSwing/build/
/ResolucaoTelaSwing/dist/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/ManipulacaoDados/nbproject/private/
/ManipulacaoDados/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/CalculadoraIdade/nbproject/private/
/CalculadoraIdade/build/
/OperadoresAritimeticos/nbproject/private/
/OperadoresAritimeticos/build/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/OperadoresSwing/dist/
/SuperCalculadora/nbproject/private/
/SuperCalculadora/build/
/SuperCalculadora/dist/
/OperadoresTernarios/nbproject/private/
/OperadoresTernarios/build/
/OperadoresLogicos/nbproject/private/
/OperadoresLogicos/build/
/ComparandoStrigs/nbproject/private/
/ComparandoStrigs/build/
/OperadoresRelacionais/nbproject/private/
/OperadoresRelacionais/build/
/VerificadorDeIdadeSwing/nbproject/private/
/VerificadorDeIdadeSwing/build/
/JogoAdivinhaNumero/nbproject/private/
/JogoAdivinhaNumero/build/
/CondicionalSimples/nbproject/private/
/CondicionalSimples/build/
